.businessCard {
    width: 550px;
    height: 320px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(23.5px);
    border-radius: 30px;
    position: relative;
}
@media screen and (max-width: 480px) {
    .businessCard {
        width: 90%;
        height: 230px;
    }
}