.humster {
    width: 300px;
    margin-top: calc(100vh * 0.15);
}

.cls1 {
    fill: #fb8786;
}

.cls2 {
    fill: #fb8281;
}

.cls3 {
    fill: #fb6866;
}

.cls4 {
    fill: #f7645d;
}

.cls5 {
    fill: #fff;
}

.cls6 {
    fill: #ffbfbf;
}

.cls7 {
    fill: #fca6a4;
}

.cls8 {
    fill: #fcc1be;
}

.cls9 {
    fill: #e6bb83;
}

.cls10 {
    fill: #e84945;
}

.cls11 {
    fill: #ff9494;
}

.cls12 {
    fill: #fdb7b6;
}

.cls13 {
    fill: #ff7676;
}

.cls14 {
    fill: #744805;
}

.cls15 {
    fill: #b3b3af;
}

.cls16 {
    fill: #66400d;
}

.cls17 {
    fill: #939391;
}

.cls18 {
    fill: #b23741;
}

.cls19 {
    fill: #bf7a13;
}

.cls20 {
    fill: #ddd;
}

.cls21 {
    fill: #d58e30;
}

.cls22 {
    fill: #dbdbd9;
}

.cls23 {
    fill: #e0e0de;
}

.cls24 {
    fill: #ae3735;
}

.cls25 {
    fill: #ae3734;
}

.cls26 {
    fill: #1472bf;
}

.cls27 {
    fill: #1a98ff;
}

.cls28 {
    fill: #0d4c80;
}

.cls29 {
    fill: #2e0000;
}

.cls30 {
    fill: #500000;
}
