.businessCard_back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 32px;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background: #E19EBC;
    border-radius: 30px;
}
.skillSet {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.visible {
    display: flex;
}
@media screen and (max-width: 480px) {
    .businessCard_back {
        padding: 20px;
    }
}