/* RESET STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Inter', 'Open Sans', sans-serif;
    line-height: 1;
    background: #B07289;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.toDoList-wrapper {
    height: 90vh;
    width: 420px;
    background: #ffffff;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 48px 24px 30px;
    overflow: scroll;
}

.toDoList__form {
    width: 100%;
}

.toDoList-form__fieldset {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.toDoList-form__legend {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 48px;
}

.toDoList-form__label {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    width: fit-content;
}

.toDoList-form__headline {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #E53170;
    margin-left: 12px;
}

.toDoList-form__button {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #E53170;
    position: relative;
    top: 0;
    cursor: pointer;
}

.toDoList-form__button_plus::before, .toDoList-form__button_plus::after {
    content: '';
    width: 14px;
    height: 1.5px;
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
    left: 8px;
    top: 14px;
}

.toDoList-form__button_plus::after {
    transform: rotate(90deg);
}

.toDoList-form__button_checkmark::before, .toDoList-form__button_checkmark::after{
    content: '';
    height: 2px;
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
}

.toDoList-form__button_checkmark::before {
    width: 7px;
    left: 8px;
    top: 16px;
    transform: rotate(45deg);
}
.toDoList-form__button_checkmark::after {
    width: 12px;
    left: 11px;
    top: 14px;
    transform: rotate(-45deg);
}

.toDoList-form__label_save.disabled {
    opacity: 0.4;
    cursor: auto;
}

.toDoList-form__label_save.disabled .toDoList-form__button {
    cursor: auto;
}

.toDoList-form__checkbox, .toDoList-form__label_save {
    display: none;
}

.toDoList-form__checkbox:checked ~ .toDoList-form__label_input {
    border: 1px solid #E53170;
    height: 85px;
    padding: 16px;
    transition: height;
    transition: padding;
    transition: all 0.2s ease-in-out;
}

.toDoList-form__checkbox:checked ~ .toDoList-form__label_add .toDoList-form__headline {
    display: none;
}

.toDoList-form__checkbox:checked ~ .toDoList-form__label_add .toDoList-form__button_plus {
    display: none;
}

.toDoList-form__checkbox:checked ~ .toDoList-form__label_save {
    display: flex;
}

.toDoList-form__label_input {
    width: 375px;
    height: 0;
    overflow: hidden;
    left: 24px;
    top: 205px;
    padding: 0;
    margin-top: 24px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(229, 49, 112, 0.1);
    transition: height;
    transition: padding;
    transition: all 0.2s ease-in-out;
}

.toDoList-form__input_delete {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.toDoList-form__input_delete .bucket-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.toDoList-form__input_add {
    width: 100%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #0F0E17;
    padding: 0;
    caret-color: #E53170;
}

.toDoList-form__input_add::placeholder {
    color: #979797;
    font-style: normal;
    font-weight: 600;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.toDoList-form__input_add:focus {
    outline: none;
    outline: unset;
}

.toDoList-form__priority {
    margin: 8px 0 0;
    display: flex;
    flex-flow: row nowrap;
}

.priority__options {
    display: flex;
    flex-flow: row nowrap;
}

.priority__headline {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0F0E17;
    margin: 0 8px 0 0;
}

.priority__option {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #DD8BA8;
    position: relative;
    cursor: pointer;
}

.priority__options .priority__input {
    display: none;
}

.priority__options .priority__input:checked + .priority__option {
    color: #E53170;
}

.priority__options .priority__input:checked + .priority__option::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    background: #E53170;
    border-radius: 10px 10px 0px 0px;
}

.priority__option_medium {
    margin: 0 12px;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__label{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-shrink: 0;
    align-items: center;
    width: 375px;
    box-sizing: border-box;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px #E6E6E6;
    border-radius: 12px;
    margin-top: 16px;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0 12px 0 0;
    box-sizing: border-box;
    background: none;
    outline: none;
    outline: unset;
    border: 2px solid #E53170;
    border-radius: 50%;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__checkbox:checked {
    background: #E53170;
    position: relative;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__checkbox::before, .toDoList .toDoItem .toDoItem-form .toDoItem-form__checkbox::after {
    content: none;
    height: 2px;
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__checkbox:checked::before,  .toDoList .toDoItem .toDoItem-form .toDoItem-form__checkbox:checked::after{
    content: '';
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__checkbox::before {
    width: 7px;
    left: 3px;
    top: 11px;
    transform: rotate(45deg);
}
.toDoList .toDoItem .toDoItem-form .toDoItem-form__checkbox::after {
    width: 12px;
    left: 6px;
    top: 9px;
    transform: rotate(-45deg);
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #0F0E17;
    margin-bottom: 8px;
    word-break: break-word;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__text.completed {
    text-decoration: line-through;
    color: #979797;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__priority {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #571032;
    padding: 5px;
    background: #FCEEF5;
    border-radius: 4px;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__priority_high {
    color: #571032;
    background-color: #FCEEF5;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__priority_medium {
    color: #B07289;
    background-color: #F8F2F4;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__priority_low {
    color: #E89FBA;
    background-color: #FFF6F9;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__controls {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__controls > button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__controls img {
    width: 24px;
    display: inline-block;
}

.toDoList .toDoItem .toDoItem-form .toDoItem-form__controls .controls__delete {
    margin-left: 12px;
}